<!DOCTYPE html>
<html>
  <head>
    <title>Tool</title>
  </head>
  <body>
    <textarea id="input" rows="10" cols="50"></textarea>
    <input type="button" onclick="convert()" value="convert"/>
	 <script src="js/cl2html.js"></script>
  </body>
</html>
