<!DOCTYPE html>
<html>
  <head>
    <title>Love</title>

    <style>
    	@import url('css/heart.css');
    </style>
  </head>
  <body>
   	<div id="heart1">
    	<div class="heart-left"></div>
    	<div class="heart-right"></div>
	</div>
  </body>
</html>
