<!DOCTYPE html>
<html>
  <head>
    <title>Love</title>

    <style>
    	@import url('css/heart.css');
    </style>
  </head>
  <body>
  	<div id="main">
	   	<div id="heart1">
	    	<div class="heart-left"></div>
	    	<div class="heart-right"></div>
		</div>
		<div id="heart2">
	    	<div class="heart-left"></div>
	    	<div class="heart-right"></div>
		</div>
		<div id="heart3">
	    	<div class="heart-left"></div>
	    	<div class="heart-right"></div>
		</div>
		<div id="heart4">
	    	<div class="heart-left"></div>
	    	<div class="heart-right"></div>
		</div>
	</div>
  </body>
</html>
