<!DOCTYPE html>
<html>
  <head>
    <title>Cédric Le Gallo</title>
    <meta name="description" content="Ingénieur d'études Web"/>
    <meta name="robots" content="all"/>
    <script src="js/transparency.min.js"></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39135514-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

   </script>
    <style>
      @import url('css/cv.css');
      @import url('css/print.css') print;
    </style>
  </head>
  <body>
    <div id="identity" itemscope itemtype="http://schema.org/Person">
      <img id="photo" src ="img/photo.jpg"/>
      <div>
	<span itemprop="givenName">Cédric</span>&nbsp;<span itemprop="familyName">Le Gallo</span><br />
	<span itemprop="email">cedric.legallo AT gmail.com</span><br />
	<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">33 rue de Rennes</span></span><br />
	<span itemprop="postalCode">35 530</span><span itemprop="addressLocality"> Brécé</span><br />
  <span id="site">www.cedriclegallo.fr</span><br />
      </div>
      <h1 id="cvtitle" itemprop="jobTitle">
        Ingénieur d'études Web
      </h1>
    </div>
    <nav>
    </nav>
    <div id="keyword1">
	
	<% for(var i=0; i<Math.floor(compList.length/2); i++) {
		var lvl = compList[i]["gsx$niveau"]["$t"];
		%>
		<span class="keywordh<%=lvl%>">
		<%=compList[i]["gsx$competence"]["$t"]%>
		</span>
	<% } %>
    </div>
    <div id="keyword2">
  
  <% for(var i=Math.floor(compList.length/2); i<compList.length; i++) {
    var lvl = compList[i]["gsx$niveau"]["$t"];
    %>
    <span class="keywordh<%=lvl%>">
    <%=compList[i]["gsx$competence"]["$t"]%>
    </span>
  <% } %>
    </div>
    <div class="keywords">
         <img
          src="http://www.wordle.net/thumb/wrdl/8165509/wordle3"
          alt="Nuage de mots clés" style="padding:4px;border:1px solid #ddd">
    </div>
    <div class="page-break"></div>
    <div id="timeline-embed"></div>
    <script type="text/javascript">
      var timeline_config = {
      width:              '100%',
      height:             '60%',
	  reverse:            true,
      source:             'https://docs.google.com/spreadsheet/pub?key=0AiEH0wUq8MkHdHVjU3BQR18zYmNkTXZhcGc5c2Z1YWc&output=html',
      start_at_end:       true,
	  preload:            100,
	  lang:               'fr',
      css:                'tl/css/dark.css',
      hash_bookmark: true
      }
    </script>
    <script type="text/javascript" src="tl/js/storyjs-embed.js"></script>

    <footer>
      <a href="javascript:print();">
  <img src="img/print.jpg" height="24px" alt="imprimer"/>
      </a>
      <a href="http://dev.w3.org/html5/spec/">
	<img src="img/HTML5.png" height="24px" alt="HTML5"/>
      </a>
      <a href="http://nodejs.org/">
	<img src="img/nodejs.jpg" height="24px" alt="node.js"/>
      </a>
     </footer>
	 <script src="js/cv.js"></script>
  </body>
</html>
