*{
margin:0;
padding:0;
}

ul{
margin-left:25pt;
}

.slider-container-mask, .slider-item-container, #timeline-embed{
height:100% !important;
width:100% !important;
}

.vco-navigation, .nav-previous, .nav-next, .media-container *:first-child, footer{
display:none !important;
}

.credit{
	position:absolute;
	top:45pt;
	right:5pt;
	font-size: 1.2em;
	font-weight: bolder;
}

.text{
	width: 100% !important;
}

.slider-container{
left : 0;
}

.vco-slider{
overflow:hidden;
clear: both;
}

.content{
margin:15px;
border: 1px solid black;
box-shadow: 10px 10px 5px #AAA;
width: 95%  !important;
position:relative;
}

.slider-item{
width: 100% !important;
height:auto !important;
}

.slider-item:nth-child(3n+1){
page-break-before:always
}

.date{
position:relative;
top:25pt;
float:right;
margin-right: 5pt;
font-size:1.17em;
font-weight: normal;
}

.container h3{
position:relative;
float:left;
top:-20pt;
font-size:1.5em;
}

.container ul{
clear:both;
}

.container p{
padding-top:10pt;
}

#keyword1, #keyword2{
position:relative;
float:left;
left: 0px;
width:35%;
}

#keyword1{
margin: 40pt 0 15pt 15%;
}

#keyword2{
margin: 40pt 15% 15pt 0;
}

#keyword1 *, #keyword2 *{
position:relative;
padding:5pt;
}

#keyword1 *{
float:right;
} 
#keyword2 *{
float:left;
}

#cvtitle{
    font-size: 32pt;
    margin: 25pt 0 0 30pt;
}